/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

body {
    background-color: #dfd2e4;
}

/*form*/

.field {
    background-color: #ffffff;
    width: 400px;
    height: 640px;
    position: relative;
    top: 30px;
    left: 50px;
}

.application {
    background-color: #9653d1;
    width: 400px;
    height: 100px;
    align-items: center;
    text-decoration-color: #ffffff;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

p {
    color: #ffffff;
}

input {
    position: absolute;
    top: 130px;
    left: 50px;
    display: inline-block;
    width: 300px;
    height: 40px;
}

input + input {
    position: absolute;
    top: 190px;
    left: 50px;
}

input + input + input {
    position: absolute;
    top: 250px;
    left: 50px;
}

select {
    position: relative;
    top: 210px;
    left: 50px;
    width: 308px;
    height: 40px;
}

textarea {
    position: absolute;
    top: 365px;
    left: 50px;
    width: 300px;
    height: 60px;
    resize: none;
}

textarea:focus {
    background: #f9eefd;
}

button {
    width: 308px;
    height: 40px;
    background-color: #cfaeec;
    position: absolute;
    top: 445px;
    left: 50px;
    font-size: large;
}

button:hover {
    background: #894bc1;
}

div input[type='checkbox'] {
    position: absolute;
    top: 495px;
    left: -92px;
    height: 25px;
}
label {
    position: absolute;
    top: 500px;
    width: 285px;
    left: 85px;
}

input + input + input + input {
    position: absolute;
    top: 560px;
    left: 50px;
    font-size: large;
    width: 308px;
    height: 40px;
}
