/* prettier-ignore */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* prettier-ignore */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
    line-height: 1;
    box-sizing: border-box;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    width: 100%;
    max-width: 100%;
}

body {
    background-color: #dfd2e4;
}

/*form*/

.field {
    background-color: #ffffff;
    width: 400px;
    height: 640px;
    position: relative;
    top: 30px;
    left: 50px;
}

.application {
    background-color: #9653d1;
    width: 400px;
    height: 100px;
    align-items: center;
    text-decoration-color: #ffffff;
    font-size: 24px;
    display: flex;
    justify-content: center;
}

p {
    color: #ffffff;
}

input {
    position: absolute;
    top: 130px;
    left: 50px;
    display: inline-block;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

input + input {
    position: absolute;
    top: 190px;
    left: 50px;
}

input + input + input {
    position: absolute;
    top: 250px;
    left: 50px;
}

select {
    position: relative;
    top: 210px;
    left: 50px;
    width: 308px;
    height: 40px;
    padding-left: 10px;
    appearance: none;
    background: url('../images/arrow1.svg') no-repeat right center;
    /* outline: 0; */
}

textarea {
    position: absolute;
    top: 365px;
    left: 50px;
    width: 300px;
    height: 60px;
    resize: none;
    padding-left: 10px;
}

textarea:focus {
    background: #f9eefd;
}

button {
    width: 308px;
    height: 40px;
    background-color: #cfaeec;
    position: absolute;
    top: 445px;
    left: 50px;
    font-size: large;
}

button:hover {
    background: #894bc1;
}

div input[type='checkbox'] {
    position: absolute;
    top: 495px;
    left: -92px;
    height: 25px;
}
label {
    position: absolute;
    top: 500px;
    width: 285px;
    left: 85px;
}

input + input + input + input {
    position: absolute;
    top: 560px;
    left: 50px;
    font-size: large;
    width: 308px;
    height: 40px;
}

.checkbox {
    -webkit-appearance: none;
    appearance: none;
}

/* .checkbox:before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 1px solid #000;
    background-color: #fff;
} */

/* input[type='checkbox']:checked,
input[type='checkbox']:not(:checked) {
    position: absolute;
    left: -9999px;
}
input[type='checkbox']:checked + label,
input[type='checkbox']:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}
input[type='checkbox']:checked + label:before,
input[type='checkbox']:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}
input[type='checkbox']:checked + label:before,
input[type='checkbox']:not(:checked) + label:before {
    border-radius: 2px;
}
input[type='checkbox']:checked + label:after,
input[type='checkbox']:not(:checked) + label:after {
    content: '';
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
input[type='checkbox']:checked + label:after,
input[type='checkbox']:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type='checkbox']:checked + label:after {
    opacity: 1;
}
input[type='checkbox']:not(:checked) + label:after {
    opacity: 0;
} */
